SELECT COUNT(*) as Total_Users FROM user_data;
SELECT Name, Email_ID, resume_score, Predicted_Field, User_level FROM user_data LIMIT 10;
SELECT feed_name, feed_email, feed_score, comments FROM user_feedback LIMIT 10;
